<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogInPage.Properties.Settings.StorageSalvageConnectionString"
            connectionString="Data Source=DESKTOP-CJ7CVSI\SQLEXPRESS;Initial Catalog=StorageSalvage;Persist Security Info=True;User ID=sa;Password=1234ka"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>